<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    first ejs created
    <!-- to use data sent from server and run the code on server -->
    <%= a  %>
</body>
</html>